{% extends "base.html" %}

{% load i18n %}

{% block title %}Controller{% endblock %}

{% load staticfiles %}

{% block scripts %}

{% endblock %}

{% block nav-home %}<li><a href="/vision/index" class="external" data-nav-section="home"><span>Home</span></a></li>{% endblock %}
{% block nav-projects %}<li class="active"><a href="/vision/projects" class="external" data-nav-section="work"><span>Projects</span></a></li>{% endblock %}

{% block content %}

	<section id="fh5co-controller" data-section="home"" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">Controller</h1>
							<h2 class="to-animate">{{ controller }}</h2>
							<p>
								<embed src="/vision/controller_image/{{ controller.id }}/image.svg" type="image/svg+xml" id="svgholder" />
  							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>
	
	<section id="fh5co-testimonials" data-section="testimonials">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				<div class="fh5co-block to-animate">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						{% if view_list %}
							{% for view in view_list %}
								<p>{{ view }} - {{ view.uniqueIdentifier }}</p>
							{% endfor %}
						{% else %}
							<h3>No Views are available.</h3>
						{% endif %}	
					</div>
				</div>		
			</div>
		</div>
		<div class="slant"></div>
	</section>

{% endblock %}