{% extends "base.html" %}

{% load i18n %}

{% block title %}Controller{% endblock %}

{% block scripts %}
<script>
	var svgholder = document.getElementById("svgholder");
	console.log("some svg loading " + svgholder);
	svgholder.addEventListener('load', function() {
   	 	
   	 	
   	 	var svg = svgholder.getSVGDocument();
   	 	console.log("some svg loaded " + svg);
   	 	
   	 	svg.addEventListener("mouseover", function() {
            console.log("svg mover");
        }, true);
   	 	
   	 	svg.onclick = function() {
            console.log("svg clicked");
        };
	});
</script>

{% endblock %}


{% block nav-projects %}<li class="active"><a href="/vision/projects" data-nav-section="work"><span>Projects</span></a></li>{% endblock %}

{% block content %}

	<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg); height: 800px;" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">Controller</h1>
							<h2 class="to-animate">{{ controller }}</h2>
							<p>
								<embed src="/vision/controller_image/{{ controller.id }}/image.svg" type="image/svg+xml" id="svgholder" />
  							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>

{% endblock %}