{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block nav-home %}<li class="active"><a href="/vision/index" data-nav-section="home"><span>Home</span></a></li>{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
	<section id="fh5co-home" data-section="home" style="background-image: url(/static/vision/images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">365Farmnet</h1>
							<h2 class="to-animate">{{ folder_name }}</h2>
							<h3 class="to-animate">{{ image_name }}</h3>
							<table>
								<tr>
									<td><img src="/images{{ image_item.image }}" alt="Image" class="img-responsive" style="width: 140px; padding-left: 17px"></td>
									<td><img src="/images{{ image_item.eps }}" alt="Image" class="img-responsive" style="width: 140px; padding-left: 17px"></td>
									<td><embed src="/images{{ image_item.pdf }}" type="application/pdf" width="140px" height="140px" style="width: 140px; padding-left: 17px"/></td>
									<td><img src="/images{{ image_item.svg }}" alt="Image" class="img-responsive" style="width: 140px; padding-left: 17px"></td>
								</tr>
							</table>
							<p>
								Key<br />
								Folder<br />
								Similar images<br />
								Tags	
								
								
								
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>
{% endblock %}