{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="wrapper" id="about">
  	<div class="container">
  		<section class="team clearfix" style="padding-bottom:10px">
			<div class="row">
				<div class="team-title">
				  	<h3 class="os-animation animated flipInX" data-os-animation="flipInX" data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">Layout</h3>
				  	<p class="os-animation animated flipInY" data-os-animation="flipInY" data-os-animation-delay="0.5s" style="animation-delay: 0.5s;">
						{{ layout }}
				  	</p>
				  	<span class="os-animation animated rotateIn" data-os-animation="rotateIn" data-os-animation-delay="0.7s" style="animation-delay: 0.7s;"></span> 
				</div>
			</div>
	 	</section>
  	</div>
</div>	
		
<div class="wrapper" id="about">
  	<div class="container">
  		<section class="team clearfix" style="padding-top:10px">
        	{% for screen_row in layout.screen_table %}
        		<div class="row">
        			<div class="team-title">
        				{% for cell in screen_row %}
        					{% if forloop.first %}
								<h3>{{ cell }}</h3>
							{% else %}
								<object data="/screens/screen/{{ cell.id }}.svg" type="image/svg+xml" width="210" height="300"></object>
							{% endif %}
        				{% endfor %}
        			</div>
        		</div>
			{% endfor %}
     	</section>
  	</div>
</div>

{% endblock %}